<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Book</title>
</head>
<body>
    <h1>New Book</h1>
    <form method="post" action= "#" th:action="@{/save}" th:object="${book}">
        <p>Author: <input type="text" th:field="*{author}"></p>
        <p>Title: <input type="text" th:field="*{title}"></p>
        <p>ISBN: <input type="text" th:field="*{isbn}"></p>
        <p>Year: <input type="number" th:field="*{publicationYear}"></p>
        <p>Price: <input type="number" th:field="*{price}" step="0.01"></p>

        <select id="deplist" th:field="*{category}" class="from-control">
           <option th:each="cat : ${categories}"
            th:value="${cat.categoryid}"
            th:text="${cat.name}">
            </option>

        </select>


        <p><input type="submit" value="Save"></p>
    </form>
</body>
</html>